extends layout

block content
  .w3-container
  // @todo Display all of the pins.
  .w3-container.pins
    .grid
      each pin in pins
        .pin.grid-item
          a(href="/pin/"+pin._id)
            img(src=pin.imageUrl class="pin__thumbnail" id="img")
            p(class="pin__description") #{pin.description}
            a(href="/user/"+pin.createdBy class="pin__owner") by #{pin.createdBy} 
  script.
    var elem = document.querySelector('.grid');
    var msnry = new Masonry( elem, {
      itemSelector: '.grid-item',
      columnWidth: 100,
      fitWidth: true
    });