extends layout

block content
  .w3-container
  // @todo Display all of the pins.
  .w3-container.pins
    .grid.masonry
      each pin in pins
        .pin.grid-item
          a(href="/pin/"+pin._id)
            img(src=pin.imageUrl class="pin__thumbnail" id="img")
            p(class="pin__description") #{pin.description}
            a(href="/user/"+pin.createdBy class="pin__owner") by #{pin.createdBy} 